mkdocs-awesome-nav==3.3.0
mkdocs-git-revision-date-localized-plugin==1.5.1
mkdocs-glightbox==0.5.2
mkdocs-header-dropdown==0.3.0
mkdocs-merge==0.11.0
mkdocs-minify-plugin==0.8.0
mkdocs-panzoom-plugin==0.5.2
mkdocs-redirects==1.2.2
mkdocs-video==1.5.0
termynal==0.13.1
mkdocs-include-markdown-plugin==7.2.0
